/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

/* Font Family
font-family: 'Bebas Neue', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif; */

body{
    font-family: 'Roboto', sans-serif;
}
p{
    color: #3E3E3E;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}
/* Navigation Style */
.nav-bar{
    background-color: #FFFBF0;
}
.my-btn{
    background-color: #A4BC46;
    border-radius: 10px;
}

/* Hero Section Start */
.hero-container{
    background: #FFFBF0;
}

.title{
    font-family: 'Bebas Neue', cursive;
}
.title-up{
    font-size: 4.5rem;
    color: #FABE4C;
}
.title-down{
    font-size: 4.5rem;
    color: #363958;
}
/* Hero Section End */

/* Product Section Start */

.p-title{
    color: #363958;
}
.p-bg{
    background-color: #F1F1F1;
    border-radius: 20px;
}
.bg-body{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}
.price{
    color: #FABE4C;
}

/* Product Section End */

/* About Us Section Start */

.my-card{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}
/* About Us Section End */

/* Footer Here */
footer{
    background: #0A0826;
}